<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="left-section">
      <img src="images/login.png" />
    </div>
    <div class="form-login">
      <h1 class="login-heading">LoGin</h1>
      <form action="/login" method="POST">
        <div class="form-input">
          <label for="email" class="labels1">Email:</label>
          <input
            type="email"
            class="form-control"
            name="email"
            class="inputs1"
            required
          />
        </div>
        <div class="form-input">
          <label for="password" class="labels2">Password:</label>
          <input
            type="password"
            class="form-control"
            name="password"
            class="inputs2"
            required
          />
        </div>
        <button type="submit" class="login-btn">Login</button>
      </form>
    </div>
    <div class="form-login-footer">
      <span>Don't have an account? </span>
      <button id="rbtn" class="register-redirect">Create New</button>
    </div>
    <script type="text/javascript">
      document.getElementById("rbtn").onclick = function () {
        location.href = "/register";
      };
    </script>
    <script src="../app.js"></script>
  </body>
</html>
