<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="left-section">
      <img src="images/register.png">
    </div>
    <div class="form-register">
      <h1 class="register-heading">RegiSter</h1>
      <form action="/register" method="POST">
        <div class="form-input">
          <label> Username:</label>
          <br>
          <input type="text" name="username" required>
        </div>
        <div class="form-input">
          <label> Email:</label>
          <br>
          <input type="email" name="email" required>
        </div>
        <div class="form-input">
          <label> Password:</label>
          <br>
          <input type="password" name="password" required>
        </div>
        <div class="form-input">
          <label> Confirm Password:</label>
          <br>
          <input type="password" name="confirmpassword" required>
        </div>
        <span class="warning-register">Passwords do not match... Try Again</span>
        <button type="submit" class="register-btn">Sign Up</button>
      </form>
    </div>

    <div class="form-register-footer">
      <span>Already have an account? </span>
      <button class="login-redirect">Login</button>
    </div>
    <script src="../app.js"></script>
  </body>
</html>