@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

*,
*:focus,
*:hover {
  outline: none;
}

.project-name {
  position: absolute;
  left: 1096px;
  top: 256px;
  line-height: 180px;
  font-size: 120px;
  font-weight: 800;
  line-height: 180px;
  letter-spacing: 0em;
  text-align: left;
  letter-spacing: 0.1px;
  color: #2d3d8b;
}

.project-desc {
  position: absolute;
  left: 1096px;
  top: 428px;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  color: #6da7b6;
}

.left-section {
  position: absolute;
  width: 1024px;
  height: 768px;
  left: 72px;
  top: 120px;
}

.get-started-btn {
  position: absolute;
  width: 275px;
  height: 55px;
  left: 1096px;
  top: 540px;
  background: #7f5af0;
  color: #fffffe;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  font-weight: 600;
  font-size: 26px;
  border-radius: 10px;
}

.register-heading {
  position: absolute;
  left: 1096px;
  top: 48px;
  line-height: 180px;
  font-size: 120px;
  font-weight: 800;
  text-align: left;
  color: #2d3d8b;
}

.form-register {
  margin-top: 240px;
}

.form-input {
  margin-left: 1100px;
  color: #6da7b6;
  width: 540px;
}

.form-input label {
  font-size: 24px;
  font-weight: 500;
}

.form-input input {
  width: 596px;
  margin-top: 16px;
  margin-bottom: 32px;
  height: 32px;
  border: 2px solid #7fbbca;
  border-radius: 20px;
  font-size: 16px;
  line-height: 32px;
  padding-left: 12px;
}

.form-input input:focus {
  border: 2px solid #7f5af0;
}

.register-btn {
  position: absolute;
  width: 596px;
  height: 90px;
  left: 1096px;
  top: 750px;
  border: 1px solid #2cb67d;
  background: linear-gradient(180deg, #2cb67d 0%, rgba(44, 182, 125, 0.8) 100%);
  border-radius: 50px;
  color: #fffffe;
  font-size: 42px;
  font-weight: 600;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #7f5af0;
}

.warning-register {
  color: red;
  position: absolute;
  visibility: hidden;
  left: 1096px;
  width: 540px;
  text-align: center;
}

.form-register-footer {
  margin-top: 180px;
  margin-left: 1096px;
}

.form-register-footer span {
  color: #6da7b6;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
}

.login-redirect {
  margin-left: 20px;
  width: 240px;
  height: 42px;
  background: #7f5af0;
  border: none;
  color: #fffffe;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.form-login {
  margin-top: 320px;
}

.login-heading {
  position: absolute;
  left: 1096px;
  top: 96px;
  line-height: 180px;
  font-size: 120px;
  font-weight: 800;
  text-align: left;
  color: #2d3d8b;
}

.login-btn {
  position: absolute;
  width: 596px;
  height: 90px;
  left: 1096px;
  top: 572px;
  border: 1px solid #2cb67d;
  background: linear-gradient(180deg, #7f5af0 0%, rgba(127, 90, 240, 0.8) 100%);
  border-radius: 50px;
  color: #fffffe;
  font-size: 42px;
  font-weight: 600;
  cursor: pointer;
}

.form-login-footer {
  margin-top: 180px;
  margin-left: 1096px;
}

.form-login-footer span {
  color: #6da7b6;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
}

.register-redirect {
  margin-left: 20px;
  width: 280px;
  height: 42px;
  background: #2cb67d;
  border: none;
  color: #fffffe;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}
